# Optional script to run each time the module is loaded,
# AFTER it is started.
#
# Commands in this file should be exactly as you would type
# interactively into the JeVois command-line interface.
#
# Example:
#
# setcam brightness 1
# setpar cpumax 1200
# info


setcam autowb 0
setcam redbal 175
setcam bluebal 168

setcam autoexp 1
setcam absexp 312